<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="HttpTimeout" value="5"/>
    <add key="FredAPIUrl" value="https://microsoft-apiapp978ca78373ea46e7af2441bbb5b48f30.azurewebsites.net/api/V1/"/>
    <add key="FredODataUrl" value="https://microsoft-apiapp978ca78373ea46e7af2441bbb5b48f30.azurewebsites.net/data/"/>
    <add key="DemoUserName" value="demoUser1@fredazure.onmicrosoft.com"/>
    <add key="DemoPassword" value="demo1P@ssword"/>
    
  </appSettings>
</configuration>
